<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 p-4">
            <ng-container *ngIf="!isUsuarioLogado; else usuarioLogadoTemplate">
                <mat-card-header>
                    <mat-card-title>{{ cadastro ? 'Cadastro' : 'Login' }}</mat-card-title>
                    <mat-icon *ngIf="cadastro">person_add</mat-icon>
                    <mat-icon *ngIf="!cadastro">login</mat-icon>
                </mat-card-header>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" formControlName="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" formControlName="senha" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
                        {{ cadastro ? 'Cadastrar' : 'Entrar' }}
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="alterarParaCadastro(!cadastro)">
                        {{ cadastro ? 'Já tenho cadastro' : 'Cadastrar' }}
                    </button>
                </form>
                <p class="text-danger mt-3">{{ erroMsg }}</p>
            </ng-container>
            <ng-template #usuarioLogadoTemplate>
                <p class="text-success mb-3">Logado como: {{ emailLogado }}</p>
                <button class="btn btn-danger" (click)="onLogout()">Logout</button>
            </ng-template>
        </div>
    </div>
</div>